<input type="checkbox" id="Districts-modal" #DistrictsModal class="modal-toggle">
<div class="modal" *ngIf="content">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{content.title}}</h3>
    <hr class="w-full mt-4" />

    <form #form="ngForm">
      <div class="relative w-full mb-3">
        <label class="block text-gray-700 mt-4 text-sm font-bold mb-2">
          Name
        </label>
        <input type="text"
               class="rounded w-full focus:ring form-control form-control-sm"
               placeholder="Name" name="Name"
               [(ngModel)]="content.Districts.name"
               required minlength="1" maxlength="250" />
      </div>
      <div class="modal-action">
        <span class="btn btn-sqaure loading align-center" *ngIf="isSaveLoading"> Loading</span>
        <button type="submit" *ngIf="!isSaveLoading" class="btn btn-primary" (click)="saveDistrict()">Save</button>
        <label for="Districts-modal" class="btn">Cancel</label>
      </div>
    </form>
  </div>
</div>
